node_modules/
.env
venv/
cache/

# Python
__pycache__/
*.py[cod]
*.so
*.log
*.pyc

# Virtual Environment
newvenv/
venv/

# VS Code settings (optional)
.vscode/

# Data / Outputs
check/

# System files
.DS_Store
Thumbs.db

# Secrets
.env

# Node.js dependencies
node_modules/

# Ignore the downloaded VS Code installer
vscode.deb

# Ignore wget logs
wget-log
wget-log.1

#cache 
*.npy